#eclipse
/bin
/.settings
/.classpath

#In case people make their workspace in the repo
/eclipse/
.project
.classpath

#idea
/.idea
/classes
*.iml

#gradle
/build
/.gradle

#occupational hazards
/projects/
/repo/
/buildSrc/
/output/
